@model List<UserViewModel>
@{
    ViewData["Title"] = "UserList";
}

<h1>UserList</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Role Control</th>
        </tr>
    </thead>
<tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    <user-role-name user-id="@user.Id"></user-role-name>
                </td>
                <td><a class="btn btn-sm btn-outline-info" asp-area="Admin" asp-controller="Role" asp-action="RoleAssignment" asp-route-id="@user.Id">Role Assign</a></td>
            </tr>
        }
</table>